---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
clusterName: {{ kubeadm_cluster_name }}
apiServerCertSANs:
- {{ ansible_env.COREOS_PUBLIC_IPV4 }}
- {{ ansible_hostname }}
- {{ ansible_fqdn }}
- {{ inventory_hostname }}
- {{ ansible_env.COREOS_PRIVATE_IPV4 }}
- {{ ansible_env.COREOS_PUBLIC_IPV4 }}
controlPlaneEndpoint: "{{ ansible_env.COREOS_PUBLIC_IPV4 }}"
etcd:
  local:
    extraArgs:
      name: "{{ inventory_hostname }}"
      listen-client-urls: "https://127.0.0.1:2379,https://{{ ansible_env.COREOS_PRIVATE_IPV4 }}:2379"
      advertise-client-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 }}:2379"
      listen-peer-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 }}:2380"
      initial-advertise-peer-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 }}:2380"
      {% for host in groups['master'] -%}
      {% if loop.first %}initial-cluster: "{% endif %}{{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ansible_env.COREOS_PRIVATE_IPV4 }}:2380{% if not loop.last %},{% else %}"{% endif %}
      {%- endfor %}

      {% if (etcd_health is defined) and (kubernetes_control_plane_local.rc == 2) %}initial-cluster-state: existing{% endif %}

    serverCertSANs:
      - {{ ansible_hostname }}
      - {{ ansible_fqdn }}
      - {{ inventory_hostname }}
      - {{ ansible_env.COREOS_PRIVATE_IPV4 }}
      - {{ ansible_env.COREOS_PUBLIC_IPV4 }}
    peerCertSANs:
      - {{ ansible_hostname }}
      - {{ ansible_fqdn }}
      - {{ inventory_hostname }}
      - {{ ansible_env.COREOS_PRIVATE_IPV4 }}
      - {{ ansible_env.COREOS_PUBLIC_IPV4 }}
networking:
    podSubnet: {{ kubeadm_pod_subnet }}
{% if kubeadm_api_server_extra_args %}
apiServerExtraArgs:
  {{ kubeadm_api_server_extra_args }}
{% endif %}
{% if kubeadm_controller_manager_extra_args %}
controllerManagerExtraArgs:
  {{ kubeadm_controller_manager_extra_args }}
{% endif %}
{% if kubeadm_scheduler_extra_args %}
schedulerExtraArgs:
  {{ kubeadm_scheduler_extra_args }}
{% endif %}
{% if kubeadm_api_server_extra_volumes %}
apiServerExtraVolumes:
  {{ kubeadm_api_server_extra_volumes }}
{% endif %}
{% if kubeadm_controller_manager_extra_volumes %}
controllerManagerExtraVolumes:
  {{ kubeadm_controller_manager_extra_volumes }}
{% endif %}
{% if kubeadm_scheduler_extra_volumes %}
schedulerExtraVolumes:
  {{ kubeadm_scheduler_extra_volumes }}
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
nodeRegistration:
  criSocket: {{ cri_socket }}
