---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
clusterName: {{ kubeadm_cluster_name }}
apiServer:
  certSANs:
{% if ansible_env.COREOS_PUBLIC_IPV4 is defined %}
  - {{ ansible_env.COREOS_PUBLIC_IPV4 }}
{% endif %}
  - {{ ansible_hostname }}
  - {{ ansible_fqdn }}
  - {{ inventory_hostname }}
  - {{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}
  - localhost
  - 127.0.0.1
{% if kubeadm_api_server_cert_extra_sans %}
  {{ kubeadm_api_server_cert_extra_sans | indent(2) }}
{% endif %}
{% if kubeadm_api_server_extra_args %}
  extraArgs:
    {{ kubeadm_api_server_extra_args | indent (4)}}
{% endif %}
{% if kubeadm_api_server_extra_volumes %}
  extraVolumes:
    {{ kubeadm_api_server_extra_volumes | indent(4) }}
{% endif %}
controlPlaneEndpoint: {{ kubernetes_api_server_address | default(ansible_env.COREOS_PUBLIC_IPV4 | default(ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address))) }}:{{ kubernetes_api_server_port | default(kubernetes_api_endpoint_port) }}
etcd:
  local:
{% if kubeadm_etcd_image is defined %}
    image: {{ kubeadm_etcd_image }}
{% endif %}
    extraArgs:
      name: "{{ inventory_hostname }}"
      listen-client-urls: "https://127.0.0.1:2379,https://{{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}:2379"
      advertise-client-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}:2379"
      listen-peer-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}:2380"
      initial-advertise-peer-urls: "https://{{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}:2380"
      {% for host in groups['master'] -%}
      {% if loop.first %}initial-cluster: "{% endif %}{{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}:2380{% if not loop.last %},{% else %}"{% endif %}
      {%- endfor %}

      {% if (etcd_health is defined) and (kubernetes_control_plane_local.rc == 2) %}initial-cluster-state: existing{% endif %}

    serverCertSANs:
      - {{ ansible_hostname }}
      - {{ ansible_fqdn }}
      - {{ inventory_hostname }}
      - {{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}
{% if ansible_env.COREOS_PUBLIC_IPV4 is defined %}
      - {{ ansible_env.COREOS_PUBLIC_IPV4 }}
      - localhost
      - 127.0.0.1
{% endif %}
    peerCertSANs:
      - {{ ansible_hostname }}
      - {{ ansible_fqdn }}
      - {{ inventory_hostname }}
      - {{ ansible_env.COREOS_PRIVATE_IPV4 | default(ansible_default_ipv4.address) }}
{% if ansible_env.COREOS_PUBLIC_IPV4 is defined %}
      - {{ ansible_env.COREOS_PUBLIC_IPV4 }}
{% endif %}

networking:
  podSubnet: {{ kubeadm_pod_subnet }}
controllerManager:
{% if kubeadm_controller_manager_extra_args %}
  extraArgs:
    {{ kubeadm_controller_manager_extra_args | indent (4) }}
{% endif %}
{% if kubeadm_controller_manager_extra_volumes %}
  extraVolumes:
    {{ kubeadm_controller_manager_extra_volumes | indent(4) }}
{% endif %}
scheduler:
{% if kubeadm_scheduler_extra_args %}
  extraArgs:
    {{ kubeadm_scheduler_extra_args | indent (4) }}
{% endif %}
{% if kubeadm_scheduler_extra_volumes %}
  extraVolumes:
    {{ kubeadm_scheduler_extra_volumes | indent(4) }}
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
  bindPort: {{ kubernetes_api_endpoint_port }}
nodeRegistration:
  criSocket: {{ cri_socket }}
{% if kubeadm_kubelet_extra_args %}
  kubeletExtraArgs:
    {{ kubeadm_kubelet_extra_args | indent (4) }}
{% endif %}
