---
apiVersion: kubeadm.k8s.io/v1alpha3
discoveryTokenAPIServers:
- {{ kubernetes_api_server_address | default ('127.0.0.1') }}:{{ kubernetes_api_server_port | default(kubernetes_api_endpoint_port) }}
discoveryTokenUnsafeSkipCAVerification: true
kind: JoinConfiguration
nodeRegistration:
  criSocket: {{ cri_socket }}
{% if kubeadm_kubelet_extra_args %}
  kubeletExtraArgs:
    {{ kubeadm_kubelet_extra_args | indent (2) }}
{% endif %}
token: {{ kubeadm_token.stdout }}
