---
apiVersion: kubeadm.k8s.io/v1alpha2
discoveryTokenAPIServers:
- 127.0.0.1:6443
discoveryTokenUnsafeSkipCAVerification: true
kind: NodeConfiguration
nodeRegistration:
  criSocket: {{ cri_socket }}
token: {{ kubeadm_token.stdout }}