---
apiVersion: kubeadm.k8s.io/v1alpha3
discoveryTokenAPIServers:
- 127.0.0.1:6443
discoveryTokenUnsafeSkipCAVerification: true
kind: JoinConfiguration
nodeRegistration:
  criSocket: {{ cri_socket }}
{% if kubeadm_kubelet_extra_args %}
  kubeletExtraArgs:
    {{ kubeadm_kubelet_extra_args | indent (2) }}
{% endif %}
token: {{ kubeadm_token.stdout }}
