error_log stderr notice;

worker_processes auto;
events {
    multi_accept on;
    use epoll;
    worker_connections 1024;
}

stream {
        upstream kube_apiserver {
            least_conn;
            {% for host in groups['master'] -%}
            server {{ hostvars[host].ansible_env.COREOS_PRIVATE_IPV4 | default(hostvars[host].ansible_default_ipv4.address) }}:6443;
            {% endfor %}
        }

        server {
            listen        127.0.0.1:6443;
            proxy_pass    kube_apiserver;
            proxy_timeout 10m;
            proxy_connect_timeout 1s;
        }
}
