{
    "metadata": {
        "name": "nginx-proxy",
        "namespace": "kube-system"
    },
    "log_directory": "/tmp",
    "linux": {
        "namespaces": {
            "options": {
                "ipc": "POD",
                "network": "NODE",
                "pid": "CONTAINER"     
            }
        },
        "security_context": {
            "namespace_options": {
                "network": 2,
                "pid": 1
            }
        }
    }
}