---
- name: Kubeadm | Master | Config upload phase
  shell: |
    {{ bin_dir }}/kubeadm init phase upload-config all --config kubeadm-config.yaml
  args:
    chdir: "{{ kubeadm_exec_dir }}"
  run_once: true
  retries: 10
  delay: 5
