---
- name: Kubeadm | Node | Make nginx-proxy directory
  file:
    path: "{{ item }}"
    state: directory
    mode: 0700
    owner: root
  with_items:
  - "{{ kubernetes_manifests_dir }}"
  - "{{ nginx_config_dir }}"

- name: Kubeadm | Node | Write nginx-proxy configuration
  template:
    src: nginx.conf.j2
    dest: "/etc/nginx/nginx.conf"
    owner: root
    mode: 0644
  register: nginx_config

- name: Kubeadm | Node | Write nginx-proxy static pod
  template:
    src: nginx.yaml.j2
    dest: "{{ kubernetes_manifests_dir }}/nginx-proxy.yaml"
